<h1>Party Details</h1>
<h3> Game: {{ posts.game }} </h3>
<h4> Party Leader: {{ posts.party_leader}} </h4>

<ul>

 <li> Description: {{ posts.description }}</li>
 <li> Email: {{ users.email }} </li>
 <li> Summoner Name: {{ users.summoner_name}} </li>
<br>

</ul>

<button><a href="/users/{{users.id}}/edit">Edit</a></button>

<form class="" action="/users/{{users.id}}?_method=DELETE" method="post">
  <input type="submit" name="" value="delete">
</form>
